extends base.pug 

block scripts 
    script(src='/static/index.js')

block style 
    style
      include ../static/style.css

block content 
    section#infosection
      div Welcome to Sagar's Dance Academy
      div.small Eat Sleep Dance Repeat

    section#missionsection
      h2 Our Mission

      div.card
        h3 Dance Perfection
        div.card-box 
          div.card-img 
            img(src="/static/0.jpg")
          div.card-content 
            p This is the best dance academy in universe
        
      div.card
        h3 Dance the way you like
        div.card-box 
          div.card-img 
            img(src="/static/1.jpg")
          div.card-content 
            p This is the best dance academy in universe

      div.card
        h3 Expert Teaching
        div.card-box 
          div.card-img 
            img(src="/static/2.jpg")
          div.card-content 
            p This is the best dance academy in universe

    section#sponsersection
      h2 Our sponsors
      div#sponsors 
        img(src="/static/0.png", alt="Sponsor Image", class="spimage")
        img(src="/static/1.png", alt="Sponsor Image", class="spimage")
        img(src="/static/2.png", alt="Sponsor Image", class="spimage")
        img(src="/static/3.png", alt="Sponsor Image", class="spimage")